<!DOCTYPE html>
<html>
  <head>
    {%include 'nav.html'%}
    <title>Hritik yadav Portfolio</title>
    <img src="https://replit.com/@HritikYadav3/hrithik-portpolio-1#statics/bb.png" alt="Background">
    

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
     <style>
    /* Adjust the font size of the heading based on the screen size */
    @media (max-width: 576px) {
      h1 {
        font-size: 5rem;
      }
    }

    /* Add padding to the main content */
    main {
      padding: 4rem;
    }

    /* Adjust the column layout of the skills section based on the screen size */
    @media (max-width: 768px) {
      .skill {
        margin-bottom: 1rem;
      }
    }

    /* Add padding to the extracurricular section */
    #extracurricular {
      padding: 1rem;
    }
  </style>
    
  </head>
  <body>
    <div class="container">
    <div class="bg-success p-2 text-dark bg-opacity-25">
    <h1 class="text-center" > Hritik yadav portfolio</h1>
    </div>
    <p class="px-2"> Hello, I am Hritik. Welcome to my page. I am from Jhansi, which is famous for the bravery of its queen. My hometown is surrounded by some tourist destinations like Orchha, which is a World Heritage site. Currently, I am pursuing a B.Tech degree from IES College of Technology, Bhopal. I completed my high school from Jacob High School, Jhansi. After that, I took admission in Government Polytechnic, Jhansi to complete my diploma in Electronics and Communication Engineering. My short-term goal is to get a job that enhances my skills in a reputed company. My long-term goal is to get a high position in that particular company. I love to travel and meet new people and learn about them.</p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <img src="https://replit.com/@HritikYadav3/hrithik-portpolio-1#statics/bb.png" >
    <div class="bg-success p-2 text-dark bg-opacity-25">
    <h2 class="text-center"> Objective</h2>
    </div>
    <p >To work with an organization which provides an higher degree of exposure and challenging work environment to enhance my competencies by working for growth of the organization.</p>
    <div class="bg-success p-2 text-dark bg-opacity-25">
    <h2 class="text-center">Skills</h2>
    </div>
    <p> Teamwork<br>
Java script<br>
Python<br>
C++<br>
SQL<br>
IOT<br>
HTML<br>
AWS<br>
Power point presentation<br>
Leadership<br>
Time management<br>
Verbal & Written communication<br>
Matlab<br>
Siemens mind sphere<br>
process instrumentaion<br>
Quick learner<br>
</p>
    <div class="bg-success p-2 text-dark bg-opacity-25">
    <h2 class="text-center">Education</h2>
    </div>
    <p> IES College OfTechnology (2021 - 2024)<br>
 8.04 SGPA    8.26 CGPA till 5th sem<br>
BTECH :-    <br>
 Electronics and Communication Engg<br>
HIGH SCHOOL :-<br>
UP board<br>
Jacob high school jhansi (2017)<br>
DIPLOMA :-<br>
Electronics and communication Engg<br>
Government polytechnic jhansi (2017-2020)<br>
First division</p>
    <div class="bg-success p-2 text-dark bg-opacity-25">
    <h2 class="text-center">Extracurricular </h2>
    </div>
    <P>
President, Electronics Student Technical Club | 2022-2023<br>
       Led the Electronics Student Technical Club, overseeing club activities, meetings, and events.<br>
Cultural Secretary IES college of technology| 2022-2023<br>
       Organized cultural events and activities for the college, including festivals, competitions, and celebrations.<br>
       Facilitated teamwork and collaboration among student participants to achieve shared goals.<br>
Presented paper at National Virtual Conference in association with IEEE MP section and IETE Bhopal Centre  <br>
Participated in the organization of the International Science Fest 2022 at MNIT Bhopal as a volunteer.<br>
Coordinated and managed the INFORIA 2k22 College Tech Fest, organizing multiple events, workshops, and competitions.<br>
Won first prize in Circuit Designing Competition | 2021<br>
Won second prize in PowerPoint Presentation | 2022<br>
Won third prize in Street Play | 2022<br>
Won first prize in the Interdepartmental folk dance competition where I was the team manager and team coordinator  | 2023 <br>

</P>
    <div class="bg-success p-2 text-dark bg-opacity-25">
    <h2 class="text-center"> TRAINING </h2>
    </div>
    <p>Trainee :-<br>

SIEMENS CENTER <br>
Process instrumentation and IOT(Internet of things)<br>

National Institute of Technical Teachers' Training and Research, Bhopal<br>

Intern :-<br>
The working function of Electric loco<br>

AC loco shed north central railways Jhansi</p>
    <a class="btn btn-primary" href="#" role="button">Contact us!</a>
    
    </div>
  </body>
{%include 'footer.html'%}
</html>