<!DOCTYPE html>
<html>
  <head>
    <title>Hritik yadav Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
  </head>
  <body>
    <h1 class="text-center"> Hritik yadav portfolio</h1>
    <p> Hello, I am Hritik. Welcome to my page. I am from Jhansi, which is famous for the bravery of its queen. My hometown is surrounded by some tourist destinations like Orchha, which is a World Heritage site. Currently, I am pursuing a B.Tech degree from IES College of Technology, Bhopal. I completed my high school from Jacob High School, Jhansi. After that, I took admission in Government Polytechnic, Jhansi to complete my diploma in Electronics and Communication Engineering. My short-term goal is to get a job that enhances my skills in a reputed company. My long-term goal is to get a high position in that particular company. I love to travel and meet new people and learn about them.</p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <img src="https://replit.com/@HritikYadav3/hrithik-portpolio-1#statics/bb.png" >
    <h2> Objective</h2>
    <p >To work with an organization which provides an higher degree of exposure and challenging work environment to enhance my competencies by working for growth of the organization.</p>
    <h2>Skills</h2>
    <p> Teamwork<br>
Java script<br>
Python<br>
C++<br>
SQL<br>
IOT<br>
HTML<br>
AWS<br>
Power point presentation<br>
Leadership<br>
Time management<br>
Verbal & Written communication<br>
Matlab<br>
Siemens mind sphere<br>
process instrumentaion<br>
Quick learner<br>
</p>
    <h2>Education</h2>
    <p> IES College OfTechnology (2021 - 2024)<br>
 8.04 SGPA    8.26 CGPA till 5th sem<br>
BTECH :-    <br>
 Electronics and Communication Engg<br>
HIGH SCHOOL :-<br>
UP board<br>
Jacob high school jhansi (2017)<br>
DIPLOMA :-<br>
Electronics and communication Engg<br>
Government polytechnic jhansi (2017-2020)<br>
First division</p>
    <h2> TRAINING </h2>
    <p> </p>
    <button type="button">Contact</button>
    
       
  </body>

</html>